<seccion class="seccion-hero">
  <div
    class="container flex flex-col justify-around items-center text-center h-[100%] p-4"
  >
    <header class="w-[100%] text-center flex flex-col">
      <h2 class="text-white font-bold text-3xl lg:text-5xl">
        Reto Increible Con
      </h2>
      <a
        class="animated-title font-bold text-5xl lg:text-7xl mt-8 lg:mt-20"
        href="https://bento.me/adrianatovarfit"
        target="_blank">Adriana Tovar</a
      >
    </header>

    <section class="flex flex-col items-center lg:gap-6 lg:mt-8 w-[100%]">
      <h2 class="text-white font-bold mb-4 text-3xl lg:text-6xl">
        Empieza nuestro reto
      </h2>
      <p class="text-white text-pretty text-sm lg:text-lg lg:w-[50%]">
        ¡Lánzate al desafío fitness de 30 días! Este reto está diseñado para
        mejorar tu fuerza y salud, adaptándose a cualquier nivel de condición
        física. Incluye ejercicios variados y consejos de nutrición para
        optimizar tus resultados. Únete a nuestra comunidad y comparte tus
        avances. Verás una notable transformación en tu bienestar y condición
        física al finalizar. ¡Empieza hoy y descubre tu potencial!
      </p>
      <a
        href="https://bento.me/adrianatovarfit"
        type="button"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 font-bold rounded-lg text-lg px-10 py-3 text-center mt-4 me-2 mb-2 hover:scale-105
        animate-wiggle animate-infinite self-center"
        >Unete YA...!!</a
      >
    </section>

    <footer class="w-[100%] flex flex-col mb-10 gap-6 lg:gap-6">
      <h3 class="text-white font-bold animated-title text-4xl lg:text-5xl">
        Comienza en
      </h3>
      <span
        class="text-white text-2xl lg:text-2xl font-bold"
        id="cuenta-regresiva">Cargando . . . . .</span
      >
    </footer>
  </div>
</seccion>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const endDate = new Date("2024-04-30T23:59:00").getTime(); // Ajusta esta fecha a tu evento

    const countdownFunction = () => {
      const now = new Date().getTime();
      const timeleft = endDate - now;

      const days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
      const hours = Math.floor(
        (timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      const minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

      if (days <= 0) {
        document.querySelector("#cuenta-regresiva").innerHTML =
          hours + " horas " + minutes + " minutos " + seconds + " segundos";

        if (timeleft < 0) {
          clearInterval(timer);
          document.querySelector(".cuenta-regresiva").innerHTML =
            "El evento ha comenzado";
        }
      } else {
        document.querySelector("#cuenta-regresiva").innerHTML =
          days + " D : " + hours + " H : " + minutes + " M : " + seconds + " S";

        if (timeleft < 0) {
          clearInterval(timer);
          document.querySelector(".cuenta-regresiva").innerHTML =
            "El evento ha comenzado";
        }
      }
    };

    const timer = setInterval(countdownFunction, 1000);
  });
</script>

<style>
  .seccion-hero {
    background-image: url("/bg-ori.webp");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    place-content: center;
    position: relative;
    overflow: hidden;
    height: 100dvh; /* Asegúrate de definir una altura, ajusta según necesites */
  }

  .seccion-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    pointer-events: none; /* Evita que el pseudo-elemento intercepte interacciones del usuario */
  }

  .seccion-hero * {
    position: relative; /* Asegúrate de que el contenido sobre el fondo no esté afectado por el gradiente */
  }

  .animated-title {
    background-image: linear-gradient(to right, #0073e6, #10f26e);
    background-clip: text;
    color: transparent;
    animation: textAnimation 3s linear infinite; /* Nueva animación para el color del texto */
  }

  @keyframes textAnimation {
    0% {
      color: transparent;
    }
    25% {
      color: #ffcc00; /* Cambia este valor al color que desees en el 25% de la animación */
    }
    50% {
      color: #4caf50; /* Cambia este valor al color que desees en el 50% de la animación */
    }
    75% {
      color: #2196f3; /* Cambia este valor al color que desees en el 75% de la animación */
    }
    100% {
      color: transparent;
    }
  }

  @keyframes gradientAnimation {
    0% {
      clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
    }
    25% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    }
  }
</style>
